<p>Modification</p>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">nom</th>
            <th scope="col">prix</th>
            <th scope="col">quantité</th>
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produit of produits; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{produit.nom}}</td>
            <td>{{produit.prix}}</td>
            <td>{{produit.quantite}}</td>
            <td>

<button routerLink="/update"    type="button"  class="btn btn-primary" (click)="modifierProduit(produit.id)" >
   <i class="fa fa-trash" aria-hidden="true"></i> Modifier
</button>
<button type="button" class="btn btn-danger" (click)="delete(produit.id)">
    <i class="fa fa-trash" aria-hidden="true"></i> Supprimer
</button>

            </td>

        </tr>
      
    </tbody>

</table>

<div class="d-flex">
    <button routerLink="/create" class="btn btn-primary">
        Ajouter un produit
    </button>
</div>


</div>